.category {

    padding: 30px 100px;
}

.muiBox {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(202, 208, 223), transparent);
}

.categoryName {
    padding: 10px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.foodName {
    padding: 8px;
    cursor: pointer;
    border: 2px solid #f3f3f3;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 1.5rem;

}
.itemContent{
    text-align: center;
    padding-bottom: 6px;
}
.price{
    margin: 10px 0 10px 0;
}
.addtocartbtn{
    margin: 0 auto;
    width: 72%;
}