.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
   /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;

  width: 22%;
      min-height: calc(100vh - 4px);
  float: right;
    border: 1px solid #ccc;
        border-radius: 12px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.cartbutton{
  display: flex;
  justify-content: space-between;
}
 .cartbutton{
        display: flex;
        justify-content: space-between;
        background-color: rgb(245, 245, 245);
        padding: 10px 15px;
    }
    .cartbutton button{
        border: none;
        background: none;
    }
    .nameimage{
        display: flex;
        border-top: 1px solid #ccc;
        padding: 20px 0 20px 0 ;

    }
    .nameimage span span {
        width: 20px;
        height: 20px;
        top: 4;
        left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: #fff;
        border-radius: 4px;
        z-index: 1;
        background-color: rgb(255, 203, 4);
    }
    .price{
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        color: rgb(17, 17, 17);
        font-weight: 500;
    }
    .cartitems{
        padding: 10px 15px 0px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        height: 606px;

    }
    /*.itemsarea {*/
    /*    overflow-y: scroll;*/
    /*height: 568px;*/
    /*}*/
    .add_remove{
        display: flex;justify-content: space-between;align-items: center;
    }
    .increase_decrease button{
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px 8px 0px 0px;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        text-transform: unset;
        text-align: center;
        flex: 0 0 auto;
        font-size: 1.5rem;
        overflow: visible;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 25px;
        cursor: pointer;
        font-weight: bold;
        height: 26px;
        width: 26px;
        background-color: rgb(212, 0, 0);
        color: rgb(255, 255, 255);
        padding: 4px !important;
    }
    .totalprice{
        padding: 10px 15px;
    }
    .subtotal{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
    .checkoutbutton{
        width: 100%!important;
    }