main {
    margin: 0px;
}

body {
    margin: 0px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #f8f9fa
}

.sliderimage img {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 1470px;
    height: 444.868px;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    border-radius: 12px;
}

.sliderimage {
    padding: 6rem 0 20px 6rem;
    border-radius: 12px;
}