.button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /*position: relative;*/
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Poppins, Roboto, Corben;
    font-size: 0.875rem;
    min-width: 64px;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    text-transform: unset;
    border-radius: 25px;
    line-height: 1.25;
    cursor: pointer;
    height: 42px;
    font-weight: bold;
    background-color: rgb(212, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
}
.button:hover{
    background-color: #ffc107;
    color: #000;
}